<div class="container tracks-showpage">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 my-4">
      <%= react_component("Weather", props: { track: @track, weatherdd: @se }) %>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8 col-lg-8 col-md-8 col-sm-12 col-12 mb-3">
      <button type="button" class="btn btn-block btn-normal" data-toggle="modal" data-target="#exampleModal">
        Post
        <span><i class="fa fa-comments"></i></span>
      </button>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8 col-lg-8 col-md-8 col-sm-12 col-12">
      <%= react_component("TrackTimeline", props: { reports: JSON.parse(@reports) }) %>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<%= render partial: 'form' %>
