@import "../tools/vars";

body.home-search-page{
  background: #F8F8F8;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-top: 3.5rem;
  .navbar-bg-color {
    background: #fff;
  }
  .navbar {
    .navbar-brand {
      color: $brand;
    }
    .nav {
      .nav-link {
        color: $brand;
      }
    }
    .animated-icon1 span {
      background: $brand;
    }
  }
}
