<footer class="footer">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <div class="content">
      <p>
        <a>Contact Us</a>⋅<a>Privacy Policy</a>
      </p>
      <p>
        © 2021 TracksInfo All Rights Reserved.
      </p>
    </div>
  </div>
</footer>