<div class="container ">
  <div class="row">
    <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
      <div class="login-title text-center">
        <h2><span><%= link_to 'TracksInfo', root_path %></span></h2>
      </div>
      <div class="login-content">
        <div class="login-header ">
          <h3><strong>Welcome</strong></h3>
        </div>
        <div class="login-body">
          <form role="form" action="" method="post" class="login-form">
            <div class="form-group ">
              <div class="pos-r">
                <i class="fa fa-user"></i>
                <input   id="form-username" type="text" name="form-username" placeholder="Username..." class="form-username form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="pos-r">
                <i class="fa fa-lock"></i>
                <input id="form-password" type="password" name="form-password" placeholder="Password..." class="form-password form-control" >
              </div>
            </div>
            <div class="form-group text-right">
              <a href="#" class="bold"> Forgot password?</a>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control"><strong>Sign in</strong></button>  
            </div>
            <%= link_to "Facebook", user_facebook_omniauth_authorize_path, method: :post, class: "btn btn-facebook btn-block" %>
          </form>
        </div> <!-- end  login-body -->
      </div><!-- end  login-content -->
      <div class="login-footer text-center template">
        <h6>Don't have an account?<a href="#" class="bold"> Sign up for free</a></h6>
      </div>
    </div>  <!-- end  login-container -->
  </div>
</div><!-- end container -->
