body.home-index{
  background: url(../image/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  .navbar-bg-color {
    background: none;
  }
  .navbar {
    .navbar-brand {
      color: #fff;
    }
    .nav {
      .nav-link {
        color: #fff;
      }
    }
    .animated-icon1 span {
      background: #fff;
    }
  }
}
